<a href="https://colab.research.google.com/github/Hny-Patel/ineuron1/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **SET**

In [1]:
s = {1,1,1,2,2,5,5,3,3,3,2,4,4,4} ## we have multiple repetition of 1,2,3,4 and even 5

In [2]:
type(s)

set

In [3]:
s ## but in output we only get ubique value

{1, 2, 3, 4, 5}

A set is data structure which can ignore the duplicate value.

In [47]:
## Give an example of set is unorder collection

In [52]:
c = {'he', 'he' ,'is' ,'is', 'a', 'a', 'a', 'boy' ,'boy', 'and', 'and', 'name', 'name', 'is', 'is' ,'Hiren', 'Hiren', '@@','##','Patel...', 'Patel...'}

In [53]:
c

{'##', '@@', 'Hiren', 'Patel...', 'a', 'and', 'boy', 'he', 'is', 'name'}

In [16]:
## set is hetrogeneous or homogeneous? let's check

In [18]:
hetro = {'string',3.44,6+7j,2541}

In [20]:
hetro ## works fine with all data types so it is hetrogeneous

{(6+7j), 2541, 3.44, 'string'}

In [21]:
## How you can access set??

In [23]:
hetro[0] ##set is not subscriptable

TypeError: ignored

In [25]:
## Let's try another way to access set

In [26]:
hetro(0)

TypeError: ignored

In [56]:
## Now let's check for loop can iteration possible or not

In [55]:
for i in hetro:
  print(i)

string
3.44
2541
(6+7j)

In [30]:
## Yes!! for loop iteration is possible

In [31]:
## what if we want only one variable from the set?

In [32]:
one = {1,2,2,3,4,5,6,6}

In [33]:
one

{1, 2, 3, 4, 5, 6}

In [34]:
in_list = list(one)

In [38]:
in_list[5]

6

In [39]:
one = set(one)

In [40]:
## can we add elements in to the set?

In [41]:
one.add('Hiren')

In [43]:
one ##yes we can add element in set

{1, 2, 3, 4, 5, 6, 'Hiren'}

In [44]:
## can you delete data from set?

In [45]:
one.pop()

1

In [46]:
one

{2, 3, 4, 5, 6, 'Hiren'}